<article id="criteria">
  <p>See <a
    href="https://www.flsenate.gov/Committees/billsummaries/2016/html/1151">the
    law</a> this list is based on.</p>

  <ol>
      <li>Check to see if the vehicle is locked.
      <li>You must have a reasonable belief that the animal is in imminent danger or suffering harm.
      <li>Ensure law enforcement is notified prior to entering vehicle or immediately thereafter.
      <li>Use no more force than is necessary.
      <li>Remain with the animal in a safe location until law enforcement arrives.
  </ol>
</article>
