<article id="save-a-pet">
  <h2>Save a pet that has been left in a car</h2>

  <p>If you do come across a pet in a locked vehicle this is how you can help:</p>

  <ol>
    <li>Take down the car's make, model and license-plate number.
    <li>If there are businesses nearby, notify their managers or security guards and ask them to make an announcement to find the car's owner.
    <li>If the owner can't be found, call the non-emergency number of the local police or animal control and wait by the car for them to arrive. In Florida we know have <a href="https://www.flsenate.gov/Committees/billsummaries/2016/html/1151">HB 131</a> which allows Samaritans to legally remove animals from cars under certain circumstances.
  </ol>
</article>
