<ul class="accordion-tabs">
  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="is-active tab-link">Save a pet</a>
    <div class="tab-content">
      <%= render "save_a_pet" %>
    </div>
  </li>

  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="tab-link">Legal Criteria</a>
    <div class="tab-content">
      <%= render "criteria" %>
    </div>
  </li>

  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="tab-link">Treating Heat Stroke</a>
    <div class="tab-content">
      <%= render "heat_stroke" %>
    </div>
  </li>
</ul>

<nav id="call-button">
  <%=
    button_tag(type: "button", id: "call-button", class: "big-button") do
      content_tag(:strong, "Call for help")
    end
  %>
</nav>
