@import "bourbon";
@import "base/base";
@import "neat";
@import "home";
@import "locations";
@import "elements/big-button";
@import "refills/accordion-tabs";
@import "refills/type-system-rounded";

$orange_yellow: #f59d00;
$green_blue: #00bd9c;
$green_gradient_bottom: #3CD3AD;
$green_gradient_top: #0B8BAD;


html {
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @include linear-gradient(0deg, $green_gradient_top, $green_gradient_bottom);
}

h1.site-title {
  font-size: 2em;
}

div#wrapper {
  @include outer-container;
  text-align: center;
}

div#content {
  text-align: left;
}

section#call-info {
  font-size: 2em;
}
