@import "bourbon";
@import "neat";
@import "base/base";
@import "home";
@import "locations";
@import "elements/big-button";

@import "refills/type-system-rounded";

$orange_yellow: #f59d00;
$green_blue: #00bd9c;
$green_gradient_bottom: #3CD3AD;
$green_gradient_top: #0B8BAD;

html {
  background-repeat: no-repeat;
  background-attachment: fixed;
  @include linear-gradient(0deg, $green_gradient_top, $green_gradient_bottom);
}

h1.site-title {
  font-size: 8em;
}

section#content {
  @include outer-container;
  text-align: center;
}

article {
  @include span-columns(12);
  text-align: left;
  font-size: 3em;
}

article > ol {
  list-style-type: decimal;
  @include span-columns(11);
  @include shift(1);
}
