<section id="call_info">
  <h3>Call info</h3>

  <p>Please call the appropriate authority with your current location.</p>

  <div>
    <p>Broward County Sheriff: (954) 765-4321</p>
    <p>Palm Beach County Sheriff (561) 688-3000</p>
    <p>Miami-Dade County Sheriff (305)-4-POLICE</p>
  </div>
</section>
