<section id="call_info">
  <h3>Call info</h3>

  <p>Please call the appropriate authority with your current location.</p>

  <div id="phone-numbers">
    <p><a href="tel:+19547654321">Broward County Sheriff: (954) 765-4321</a></p>
    <p><a href="tel+15616883000">Palm Beach County Sheriff (561) 688-3000</a></p>
    <p><a href="tel:+13054765423">Miami-Dade County Sheriff (305)-4-POLICE</a></p>
  </div>
</section>
